@import './variables.scss';

.ripple-container {
  position: absolute;
  top: 90%;
  right: 11%;
  width: 50px;
  height: 50px;
}

.ripple-1,
.ripple-2 {
  opacity: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: rgba(255,255,255,0.5);
}

.ripple-1 {
  animation: ripple-animation-1 1s;
}
.ripple-2 {
  animation: ripple-animation-2 1s;
}

.ripple-hide {
  opacity: 0;
  position: absolute;
  // bottom: -6%;
  // right: 10%;
}

@keyframes ripple-animation-1 {
    from {
      transform: scale(0.5);
      opacity: 0.4;
    }
    to {
      transform: scale(10);
      opacity: 0;
    }
}

@keyframes ripple-animation-2 {
    from {
      transform: scale(0.5);
      opacity: 0.4;
    }
    to {
      transform: scale(10);
      opacity: 0;
    }
}
