@import './variables';

.tempo-slider-section {
  position: relative;
  height: 15em;
}

.tempo-slider-div {
  position: absolute;
  width: 75%;
  height: 4em;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.tempo-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: inline-block;
  width: calc(100% - 75px);
}

.plus,
.minus {
  position: absolute !important;
  display: inline-block;
  top: -11%;
}

.plus {
  right: 0;
}

.minus {
  left: 0;
}

.plus .material-icons,
.minus .material-icons {
  font-size: 32px !important;
}
